<!-- start of top title and right menu -->
<div ng-controller="HeaderCtrl">
    <md-toolbar layout="row" layout-align="space-between center">

        <div flex-sm="20"  flex-md="20" flex-gt-md="10" flex-order-mdflex-order="1" align="left">
    <!--
            <md-button class="message" hide-sm ui-sref="home" aria-label="Go To Read Messages">
                <img src="./assets/img/logo-small.jpg" width="75px" height="50px">
            </md-button>
    -->
            <md-button class="menu" ng-click="toggleLeftNav();" aria-label="Show User List">
                <md-icon md-svg-icon="menu" ></md-icon>
            </md-button>

        </div>

        <div flex-sm="60"  flex-md="60" flex-gt-md="80" flex-order="2" align="center">
            <h1>RLives.link</h1>
        </div>

        <div flex-sm="20"  flex-md="20" flex-gt-md="10" flex-order="3" align="right" layout="row">
                <md-button class="right-nav-link" ui-sref="register" aria-label="Register for Rlives">
                    Register
                </md-button>
                <md-button class="right-nav-link" ui-sref="sign_in" aria-label="SignIn To Rlives">
                    Sign In
                </md-button>
        </div>

    </md-toolbar>
</div>
