<!-- start of top title and right menu -->
<md-toolbar layout="row" layout-align="space-between center">

    <div flex="10" flex-order="1" align="left">
        <md-button class="message" href="#/intro" aria-label="Go To Read Messages">
            <img src="./assets/img/logo-small.jpg" width="75px" height="50px">
        </md-button>
    </div>

    <div flex="80" flex-order="2" align="center">
        <md-button class="menu" hide-gt-sm ng-click="ul.toggleList()" aria-label="Show User List">
            <md-icon md-svg-icon="menu" ></md-icon>
        </md-button>
        <h1>RLives.link</h1>
    </div>

    <div flex="10" flex-order="3" align="right" layout-margin layout-fill layout-padding>
        <md-button class="right-nav-link" ui-sref="register" aria-label="Register for Rlives">
            Register
        </md-button>
        <md-button class="right-nav-link" ui-sref="sign_in" aria-label="SignIn To Rlives">
            SignIn
        </md-button>

    </div>

</md-toolbar>