<!-- start of left menu -->
<div layout="column" layout-align="space-between start">
    <div>
        <md-list >
            <div layout="column" layout-align="space-between start" class="left-nav left-nav-add">
                <div class="left-menu-header" width="100%">
                        <md-item><img src="./assets/svg/ic_add_circle_24px.svg">&nbsp;Add</md-item>
                </div>

                <div><md-item><md-button ui-sref="board_create" aria-label="Create a Board">
                    <md-tooltip md-direction="right">Create a Board</md-tooltip>
                    <md-icon md-svg-icon="board"  class="left-nav-item"></md-icon>
                </md-button></md-item></div>

                <div><md-item><md-button  ui-sref="image_upload" aria-label="Add Pictures to a Board">
                        <md-tooltip md-direction="right">Add Pictures to a Board</md-tooltip>
                        <md-icon md-svg-icon="picture"  class="left-nav-item"></md-icon>
                </md-button></md-item></div>

                <div><md-item><md-button href="#/video" aria-label="Add Video to a Board">
                    <md-tooltip md-direction="right">Add Video to a Board</md-tooltip>
                    <md-icon md-svg-icon="video"  class="left-nav-item"></md-icon>
                </md-button></md-item></div>

                <div><md-item><md-button href="#/audio" aria-label="Add Audio to a Board">
                    <md-tooltip md-direction="right">Add Audio to a Board</md-tooltip>
                    <md-icon md-svg-icon="audio"  class="left-nav-item"></md-icon>
                </md-button></md-item></div>

                <div><md-item><md-button href="#/document" aria-label="Add Documents (Word, LibreOffice) to a Board">
                    <md-tooltip md-direction="right">Add Documents (Word, LibreOffice) to a Board</md-tooltip>
                    <md-icon md-svg-icon="document"  class="left-nav-item"></md-icon>
                </md-button></md-item></div>

                <div><md-item><md-button href="#/other" aria-label="Add Other Attachments to a Board">
                    <md-tooltip md-direction="right">Add Other Attachments to a Board</md-tooltip>
                    <md-icon md-svg-icon="other"  class="left-nav-item"></md-icon>
                </md-button></md-item></div>

                <div><md-item><md-button href="#/story" aria-label="Create Story">
                    <md-tooltip md-direction="right">Create a Story</md-tooltip>
                    <md-icon md-svg-icon="story"  class="left-nav-item"></md-icon>
                </md-button></md-item></div>

                <div><md-item><md-button href="#/message" aria-label="Create Message">
                    <md-tooltip md-direction="right">Send a Message</md-tooltip>
                    <md-icon md-svg-icon="message"  class="left-nav-item"></md-icon>
                </md-button></md-item></div>
            </div>
        </md-list>
    </div>

    <div>
        <md-list class="left-nav left-nav-link" >
            <div layout="column" flex="100" class="left-nav left-nav-view" layout="column" layout-align="space-between start">
                <div class="left-menu-header">
                    <md-item><img src="./assets/svg/ic_link_24px.svg">&nbsp;Link</md-item>
                </div>

                <div><md-item><md-button href="#/link/people" aria-label="Link People to Boards">
                        <md-tooltip md-direction="right">Link a Person to a Board</md-tooltip>
                        <md-icon md-svg-icon="person"  class="left-nav-item"></md-icon>
                </md-button></md-item></div>

                <div><md-item><md-button href="#/link/board" aria-label="Link Boards to other Boards">
                        <md-tooltip md-direction="right">Link a Board to other Boards</md-tooltip>
                        <md-icon md-svg-icon="board"  class="left-nav-item"></md-icon>
                </md-button></md-item></div>

                <div><md-item><md-button href="#/link/web" aria-label="Link Board to Web">
                    <md-tooltip md-direction="right">Link Board to Web</md-tooltip>
                    <md-icon md-svg-icon="web"  class="left-nav-item"></md-icon>
                </md-button></md-item></div>
            </div>
        </md-list>
    </div>

    <md-list>
        <div layout="column" flex="100" class="left-nav left-nav-view" layout="column" layout-align="space-between start">
            <div class="left-menu-header"><md-item>
                    <img src="./assets/svg/ic_eye_24px.svg">&nbsp;View
                </md-item></div>

            <div><md-item><md-button ui-sref="boards_list" aria-label="View Boards">
                    <md-tooltip md-direction="right">View Boards</md-tooltip>
                    <md-icon md-svg-icon="board"  class="left-nav-item"></md-icon>
            </md-button></md-item></div>

            <div><md-item><md-button ui-sref="people_list" aria-label="View People">
                <md-tooltip md-direction="right">View People</md-tooltip>
                <md-icon md-svg-icon="person"  class="left-nav-item"></md-icon>
            </md-button></md-item></div>

            <div><md-item><md-button href="#/messages" aria-label="View Messages">
                <md-tooltip md-direction="right">View Messages</md-tooltip>
                <md-icon md-svg-icon="message"  class="left-nav-item"></md-icon>
            </md-button></md-item></div>
        </div>
    </md-list>
</div>


