<!-- start of left menu -->
<div layout="column" layout-align="space-between start" style="background-color: bisque;">
    <div >
        <md-list>
            <div layout="column" layout-align="space-between start" class="left-nav left-nav-add">
                <div class="left-menu-header">
                    <md-item><img src="./assets/svg/ic_add_circle_24px.svg"><span hide show-gt-md>&nbsp;Add</span></md-item>
                </div>

                <div><md-item><md-button ui-sref="board_create" aria-label="Create a Board">
                    <md-tooltip md-direction="right">Create a Board</md-tooltip>
                    <md-icon md-svg-icon="board"  class="left-nav-item"></md-icon>
                </md-button></md-item></div>

                <div><md-item><md-button  ui-sref="select_media" aria-label="Add Attachments (pic, video, audio, ...) to a Board">
                    <md-tooltip md-direction="right">Add Attachments (pic, video, audio, ...) to a Board</md-tooltip>
                    <md-icon md-svg-icon="other"  class="left-nav-item"></md-icon>
                </md-button></md-item></div>

                <div><md-item><md-button ui-sref="text_create" aria-label="Create Story">
                    <md-tooltip md-direction="right">Create a Story</md-tooltip>
                    <md-icon md-svg-icon="story"  class="left-nav-item"></md-icon>
                </md-button></md-item></div>

                <div><md-item><md-button ui-sref="message_create"  aria-label="Create Message">
                    <md-tooltip md-direction="right">Send a Message</md-tooltip>
                    <md-icon md-svg-icon="message"  class="left-nav-item"></md-icon>
                </md-button></md-item></div>
            </div>
        </md-list>
    </div>

    <div>
        <md-list class="left-nav left-nav-link" >
            <div layout="column" flex="100" class="left-nav left-nav-view"  layout-align="space-between start">
                <div class="left-menu-header left-menu-header-link">
                    <md-item><img src="./assets/svg/ic_link_24px.svg"><span hide show-gt-md>&nbsp;Link</span></md-item>
                </div>

                <div><md-item><md-button href="#/link/board" aria-label="Link Boards to other Boards">
                    <md-tooltip md-direction="right">Link a Board to other Boards</md-tooltip>
                    <md-icon md-svg-icon="board"  class="left-nav-item"></md-icon>
                </md-button></md-item></div>

                <div><md-item><md-button href="#/link/people" aria-label="Link People to Boards">
                    <md-tooltip md-direction="right">Link a Person to a Board</md-tooltip>
                    <md-icon md-svg-icon="person"  class="left-nav-item"></md-icon>
                </md-button></md-item></div>

                <div><md-item><md-button href="#/link/web" aria-label="Link Board to Web">
                    <md-tooltip md-direction="right">Link Board to Web</md-tooltip>
                    <md-icon md-svg-icon="web"  class="left-nav-item"></md-icon>
                </md-button></md-item></div>
            </div>
        </md-list>

        <md-list>
            <div layout="column" flex="100" class="left-nav left-nav-view"  layout-align="space-between start">
                <div class="left-menu-header left-menu-header-view"><md-item>
                    <img src="./assets/svg/ic_eye_24px.svg"><span hide show-gt-md>&nbsp;View</span>
                </md-item></div>

                <div><md-item><md-button ui-sref="boards_list" aria-label="View Boards">
                    <md-tooltip md-direction="right">View Boards</md-tooltip>
                    <md-icon md-svg-icon="board"  class="left-nav-item"></md-icon>
                </md-button></md-item></div>

                <div><md-item><md-button ui-sref="people_list" aria-label="View People">
                    <md-tooltip md-direction="right">View People</md-tooltip>
                    <md-icon md-svg-icon="person"  class="left-nav-item"></md-icon>
                </md-button></md-item></div>

                <div><md-item><md-button href="#/messages" aria-label="View Messages">
                    <md-tooltip md-direction="right">View Messages</md-tooltip>
                    <md-icon md-svg-icon="message"  class="left-nav-item"></md-icon>
                </md-button></md-item></div>
            </div>
        </md-list>
    </div>
