<h2>Media<h2></h2>

<h3> Select media for upload</h3>

        <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center" ui-sref="image_upload">
            Image Upload
            <md-button  ui-sref="image_upload" class="md-primary" aria-label="Add Pictures to a Board">
            <md-tooltip md-direction="right">Add Pictures to a Board</md-tooltip>
            <md-icon md-svg-icon="picture"  class="left-nav-item">
            </md-button>
        </md-whiteframe>

        <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center">
            Video Upload
            <md-button ui-sref="video_upload" class="md-primary">
            <md-tooltip md-direction="right">Add Video to a Board</md-tooltip>
            <md-icon md-svg-icon="video" class="left-nav-item">
            </md-button>
        </md-whiteframe>

        <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center">
            Audio Upload
            <md-button ui-sref="audio_upload" class="md-primary">
            <md-tooltip md-direction="right">Add Audio to a Board</md-tooltip>
            <md-icon md-svg-icon="audio" class="left-nav-item">
            </md-button>
        </md-whiteframe>

        <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center">
            Document Upload
            <md-button ui-sref="document_upload" class="md-primary">
            <md-tooltip md-direction="right">Add Document to a Board</md-tooltip>
            <md-icon md-svg-icon="document" class="left-nav-item">
            </md-button>
        </md-whiteframe>

        <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center">
            Create Text / Story
            <md-button ui-sref="text_create" class="md-primary">
            <md-tooltip md-direction="right">Add text/story to a Board</md-tooltip>
            <md-icon md-svg-icon="story" class="left-nav-item">
            </md-button>
        </md-whiteframe>

        <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center">
            Other Attachment Upload
            <md-button ui-sref="other_upload" class="md-primary">
            <md-tooltip md-direction="right">Add Other Attachment to a Board</md-tooltip>
            <md-icon md-svg-icon="other" class="left-nav-item">
            </md-button>
        </md-whiteframe>

        <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center">
            Link Board to the Web (a URL)
            <md-button ui-sref="link_create" class="md-primary">
            <md-tooltip md-direction="right">Add link to a Board</md-tooltip>
            <md-icon md-svg-icon="web" class="left-nav-item">
            </md-button>
        </md-whiteframe>

    <!--    case 2: it.background = "green";         break;
        case 3: it.background = "darkBlue";      break;
        it.background = "blue";
        it.background = "yellow";
        case 6: it.background = "pink";          break;
        case 7: it.background = "darkBlue";      break;
        case 8: it.background = "purple";        break;
        case 9: it.background = "deepBlue";      break;
        case 10: it.background = "lightPurple";  break;
        case 11: it.background = "yellow";       break;
        -->




