
    <form name="boardForm" novalidate ng-submit="createBoard(board)">

        <h2> Define Board </h2>
        <!--: {{ board.name}}-->

        <h3 class="{{messageClass}}"> {{ message }} </h3>

        <div class="alert alert-danger" ng-show="Board.error">
            Error ({{Board.error.status}}). The product data was not loaded.
            <a href="/index.html" class="alert-link">Click here to try again</a>
        </div>

        <div class="" ng-show="saveSuccessfull">
            You can enter a new board or
            <md-button href="#/media" class="md-primary">Upload Media</md-button>
        </div>

        <md-input-container>
            <label>Name</label>
            <input name="boardName" type="text" class="form-control" minlength=4 maxlength="256" md-minlength=4 md-maxlength="256"
                   required ng-model="board.name">
<!--            <div ng-messages="boardForm.boardName.$error">
                <div ng-message="required">This is required!</div>
                <div ng-message="minlength">That's too short!</div>
            </div>-->
        </md-input-container>

        <span style="padding-bottom: 0; padding-top: 0; margin-bottom: 0; margin-top: 0">
            <span class="md-input-group md-input-focused"><label>Board Type</label></span>
            <md-select data-ng-model="board.type" name="board.type" required>
                <md-option data-ng-value="boardType.value" data-ng-repeat="boardType in boardTypes">{{ boardType.label }}</md-option>
            </md-select>
        </span>

        <br>
        <br>

        <span class="md-input-group md-input-focused"><label>Board Permissions</label></span>
            <md-radio-group ng-model="board.boardPermissions" name="BoardPermissions" required>
                <md-radio-button value="open" aria-input-label="Allow everyone to view, upload & create">
                    Allow everyone to view, upload & create</md-radio-button>
                <md-radio-button value="view" aria-input-label="Allow everyone to view">
                    Allow everyone to view</md-radio-button>
                <md-radio-button value="defn" aria-input-label="Only allow what you define">
                    Only allow what you define</md-radio-button>
            </md-radio-group>

        <md-input-container>
            <label>Description:</label>
            <textarea name="boardDescription" type="text" class="form-control" md-maxlength="2056" maxlength="2056"
                     ng-model="board.description"></textarea>
            <div ng-messages="boardForm.board.description.$error" ng-show="boardForm.board.description.$error">
                <div ng-message="md-maxlength">That's too long!</div>
            </div>
        </md-input-container>


        <br>
        <br>

        <md-button type="submit" ng-disabled="boardForm.$invalid"  class="md-raised md-primary">Save</md-button>

            <!--ng-disabled="boardForm.$invalid"-->
    </form>
